# Unityが生成する不要フォルダ
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]serSettings/

# Visual Studioなどの開発環境ファイル
**/.vs/
**/.vscode/
*.csproj
*.sln

# ビルドのデバッグ情報・配布用zip
*_BurstDebugInformation_DoNotShip/
Molkky_Game.zip
