/[Ll]ibrary/
/[ there ]/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/assets/AssetStoreTools*

# 新しいUnityの自動生成ファイルも除外
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OSが勝手に作る不要ファイル
.DS_Store
Thumbs.db